@import "fonts.css";
@import "header.css";
@import "footer.css";
@import "home.css";

@media (max-width: 767px) {
    .padding-off-mobile {
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}
.padding-off {
    padding-left: 0px;
    padding-right: 0px;
}
p {
    margin: 0;
}